.law-blue {
	--law-color: #676dff;
}

.law-sky {
	--law-color: #9feeff;
}

.law-yellow {
	--law-color: #fff173;
}

.law-orange {
	--law-color: #ff8a00;
}

.law-green {
	--law-color: #1dc775;
}

.law-red {
	--law-color: #ff3767;
}

.law-magenta {
	--law-color: #d252ff;
}
